<html>
    <head>
        <title>Serena's blog</title>
    </head>
    <body>
        <div>
          <h1><a href="">Serena's blog<a/></h1>
        </div>

        <div>
          <p>published: 2016.04.17, 14:16</p>
          <h2><a href="">My first post</a></h2>
          <p>donne in cerca del loro futuro</p>
        </div>
        <div>
          <p> published: 2016.04.17, 14:14</p>
          <h2><a href="">My second post</a></h2>
          <p>STOP THE VIOLENCE a Firenze</p>
        </div>
        <div>
          <p> published: 2016.04.17, 14:10</p>
          <h2><a href="">My third post</a></h2>
          <p>#1 Auschwitz… e non dimentichi</p>
        </div>

      <p>Hi there!</p>
      <p>It works!</p>
    </body>
</html>
